    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="home/index">
                <img src="images/icon.ico" alt="Homepage"> <i> ago </i>
            </a>

        </div> <!-- end header-logo -->

        <nav class="header-nav">

            <a href="#0" class="header-nav__close" title="close"><span>Fermer</span></a>

            <div class="header-nav__content">
                <h3>Destination</h3>
                
                <ul class="header-nav__list">
                    <li class="current"><a  href="<%= home_diego_path %>">DIEGO</a></li>
                    <li><a  href="<%= home_janga_path %>">MAJUNGA</a></li>
                    <li><a  href="<%= home_tana_path %>">ANTANANARIVO</a></li>
                    <li><a  href="<%= home_bira_path %>">ANTSIRABE</a></li>
                    <li><a  href="<%= home_tamaga_path %>">TAMATAVE</a></li>
                    <li><a  href="<%= home_fianara_path %>">FIANARANTSOA</a></li>
                    <li><a  href="<%= home_morondava_path %>">MORONDAVA</a></li>
                    <li><a  href="<%= home_tulear_path %>">TULEAR</a></li>

                </ul>
    
                <p>Vous pouvez visiter nos différentes villes. <br> N'hésitez pas à nous contacter</p>
    
            </div> <!-- end header-nav__content -->

        </nav> <!-- end header-nav -->

        <a class="header-menu-toggle" href="#0">
            <span class="header-menu-icon"></span>
        </a>

    </header> <!-- end s-header -->


    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="images/nuit1.jpg" data-natural-width=3000 data-natural-height=2000 data-position-y=top>

        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">
                <h1>
                MADAGASCAR <br>
                Une destination de rêve
                </h1>

                <p>
                Fais un petit tour chez nous <br>
                Et profiter de chaque instant
                </p>
            </div> <!-- end home-content__main -->

        </div> <!-- end home-content -->

        <ul class="home-sidelinks">
            <li><a class="smoothscroll" href="#about">A propos<span>Qui nous sommes ?</span></a></li>
            <li><a class="smoothscroll" href="#services">Activités<span>Ce qu'on pourrait faire</span></a></li>
            <li><a  class="smoothscroll" href="#works">Destination<span>La ville</span></a></li>
            <li><a  class="smoothscroll" href="#contact">Contact<span>Plus d'info</span></a></li>
            <li> <img src="images/myAvatar.png" width="50" height="50" style="border-radius: 20px; position: relative; top: 20px; left: 19px"> <a class="smoothscroll" href="#contact">ANDY</a></li>
        </ul> <!-- end home-sidelinks -->



        <a href="#about" class="home-scroll smoothscroll">
            <span class="home-scroll__text">Faire descendre</span>
            <span class="home-scroll__icon"></span>
        </a> <!-- end home-scroll -->

    </section> <!-- end s-home -->


    <!-- about
    ================================================== -->
    <section id='about' class="s-about">

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Qui nous sommes ?</h3>
                <h1 class="display-1">Une petite boîte qui s'est fondée en 1998, par un petit groupe de jeune diplômé en Tourisme et de l'Hôtellerie</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row" data-aos="fade-up">
            <div class="col-full">
                <p class="lead">
                Le but est de faire connaitre au monde qu'il y a une île, malgré qu'elle est petite sa fortune et ses richesses recouvre le pays de luminosité. On peut citer quelques ressources du pays :
                </p>
            </div>
        </div> <!-- end about-desc -->

        <div class="row">
                
            <div class="about-process process block-1-2 block-tab-full">

                <div class="process__vline-left"></div>
                <div class="process__vline-right"></div>

                <div class="col-block process__col" data-item="1" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Pierre précieuse</h4>

                        <p>
                        Le Ruby
                        </p>
                        <img src="images/Ruby.jpg">
                    </div>
                </div>
                <div class="col-block process__col" data-item="2" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Cultivation</h4>

                        <p>
                        Vanille
                        </p>
                        <img src="images/Vanille.jpg">
                    </div>
                </div>
                <div class="col-block process__col" data-item="3" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Création</h4>

                        <p>
                        Karenjy - Mazana II
                        </p>
                        <img src="images/Karenjy.jpg">
                    </div>
                </div>
                <div class="col-block process__col" data-item="4" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Espèces endémiques</h4>

                        <p>
                        Le Maki
                        </p>
                        <img src="images/Maki.jpg">
                        
                    </div>
                </div>
   
                    </div>
                </div>

            </div> <!-- end process -->

        </div> <!-- end about-stats -->

    </section> <!-- end s-about -->


    <!-- services
    ================================================== -->
    <section id='services' class="s-services light-gray">

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Ce qu'on pourrait faire</h3>
                <h1 class="display-1">Pleins de choses vous attends pendant votre séjour chez nous.</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row" data-aos="fade-up">
            <div class="col-full">
                <p class="lead">
                Il y a beaucoup d'activités qui sont en cours en ce moment, que vous pourriez faire : 
                </p>
            </div>
        </div> <!-- end about-desc -->

        <div class="row services-list block-1-3 block-m-1-2 block-tab-full">

            <div class="col-block service-item " data-aos="fade-up">
                <div class="service-icon service-icon--brand-identity">
                    <i class="icon-tv"></i>
                </div>
                <div class="service-text">
                    <h3 class="h4">Visite de Parc National</h3>
                    <p>Oui, c'est là la base du tourisme en ce moment. On peut dire que Madagascar possède pleins d'espèces endémiques et d'animaux uniques dans le monde.
                    </p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon  service-icon--illustration">
                    <i class="icon-group"></i>
                </div>
                <div class="service-text">
                    <h3 class="h4">Photographie</h3>
                    <p>Pourquoi voyager sans emmener son appareil... Oui, c'est partie aussi pour un clic-shoot de ce que vous allez découvrir. Sorte de souvenir quoi !!
                    </p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon  service-icon--web-design">
                    <i class="icon-earth"></i>
                </div>  
                <div class="service-text">
                    <h3 class="h4">Baignade</h3>
                    <p>Un bon petit bain avec la famille sur le bord du lac Tritriva ou bien, à Andranomafana Fianarantsoa dans une piscine chaude.
                    </p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon service-icon--product-strategy">
                    <i class="icon-cube"></i>
                </div>
                <div class="service-text">
                    <h3 class="h4">Culture</h3>
                    <p>Un bon parti de culturisme aussi c'est pas mal, pour s'instruire et découvrir les cultures du pays. Art, musiques, dessins, etc...
                    </p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon  service-icon--ui-design">
                    <i class="icon-window"></i>
                </div>
                <div class="service-text">
                    <h3 class="h4">Sport</h3>
                    <p>Avec de bon oxygène au campagne, vous pouvez faire un peu de footing pour ne pas perdre forme et de rester saine tout au long du voyage.
                    </p>
                </div>
            </div>
    
            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon service-icon--mobile-dev">
                    <i class="icon-lego-block"></i>
                </div>
                <div class="service-text">
                    <h3 class="h4">Découverte</h3>
                    <p>Découverte du pays en entier. C'est l'idéal, si vous avez les moyens :-p
                    </p>
                </div>
            </div>

        </div> <!-- end services-list -->

    </section> <!-- end s-services -->


    <!-- works
    ================================================== -->
        <section id='works' class="s-works">
                
        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">La ville</h3>
                <h1 class="display-1">Madagascar est répartie en quelques grandes villes</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row masonry-wrap">
            <div class="masonry">

                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="images/Diego.jpg" class="thumb-link" title="Lamp" data-size="1050x700">
                                <img src="images/Diego.jpg" 
                                     srcset="images/Diego.jpg 1x, images/Diego.jpg 2x" alt="">
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                DIEGO
                            </h3>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        Dago
                        </a>

                        <div class="item-folio__caption">
                            <p>Ville située au Nord de MADAGASCAR</p>
                        </div>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->
                 <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="images/Tamaga.jpg" class="thumb-link" title="Lamp" data-size="1050x700">
                                <img src="images/Tamaga.jpg" 
                                     srcset="images/Tamaga.jpg 1x, images/Tamaga.jpg 2x" alt="">
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                TAMATAVE
                            </h3>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        Dago
                        </a>

                        <div class="item-folio__caption">
                            <p>Ville située à l'Est de MADAGASCAR</p>
                        </div>

                    </div> <!-- end item-folio -->
                </div>
                
                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="images/Janga.jpg" class="thumb-link" title="Lamp" data-size="1050x700">
                                <img src="images/Janga.jpg" 
                                     srcset="images/Janga.jpg 1x, images/Janga.jpg 2x" alt="">
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                MAJUNGA
                            </h3>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        Dago
                        </a>

                        <div class="item-folio__caption">
                            <p>Ville située au Nord-Ouest de MADAGASCAR</p>
                        </div>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

               
                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="images/Tana.jpg" class="thumb-link" title="Lamp" data-size="1050x700">
                                <img src="images/Tana.jpg" 
                                     srcset="images/Tana.jpg 1x, images/Tana.jpg 2x" alt="">
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                TANANARIVE
                            </h3>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        Dago
                        </a>

                        <div class="item-folio__caption">
                            <p>Ville située au Centre de MADAGASCAR</p>
                        </div>

                    </div> <!-- end item-folio -->
                </div>


                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="images/Bira.jpg" class="thumb-link" title="Lamp" data-size="1050x700">
                                <img src="images/Bira.jpg" 
                                     srcset="images/Bira.jpg 1x, images/Bira.jpg 2x" alt="">
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                ANTSIRABE
                            </h3>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        Dago
                        </a>

                        <div class="item-folio__caption">
                            <p>Ville située au Centre de MADAGASCAR</p>
                        </div>

                    </div> <!-- end item-folio -->
                </div>
                 <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="images/Toliara.jpg" class="thumb-link" title="Lamp" data-size="1050x700">
                                <img src="images/Toliara.jpg" 
                                     srcset="images/Toliara.jpg 1x, images/Toliara.jpg 2x" alt="">
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                TULEAR
                            </h3>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        Dago
                        </a>

                        <div class="item-folio__caption">
                            <p>Ville située au Sud-Ouest de MADAGASCAR</p>
                        </div>

                    </div> <!-- end item-folio -->
                </div>


                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="images/Fianara.jpg" class="thumb-link" title="Lamp" data-size="1050x700">
                                <img src="images/Fianara.jpg" 
                                     srcset="images/Fianara.jpg 1x, images/Fianara.jpg 2x" alt="">
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                FIANARANTSOA
                            </h3>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        Dago
                        </a>

                        <div class="item-folio__caption">
                            <p>Ville située Sud-Est de MADAGASCAR</p>
                        </div>

                    </div> <!-- end item-folio -->
                </div>
                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="images/Morondava.jpg" class="thumb-link" title="Lamp" data-size="1050x700">
                                <img src="images/Morondava.jpg" 
                                     srcset="images/Morondava.jpg 1x, images/Morondava.jpg 2x" alt="">
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                MORONDAVA
                            </h3>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        Dago
                        </a>

                        <div class="item-folio__caption">
                            <p>Ville située au Centre-Ouest de MADAGASCAR</p>
                        </div>

                    </div> <!-- end item-folio -->
                </div>
               

            </div> <!-- end masonry -->
        </div>
    

    <!-- stats
    ================================================== --


    <!-- contact
    ================================================== -->
    <section id="contact" class="s-contact">

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead subhead--light">Pour nous contacter</h3>
                <h1 class="display-1 display-1--light">Pour plus d'info ou autres choses</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row">

            <div class="col-full contact-main" data-aos="fade-up">
                <p>
                <a href="mailto:#0" class="contact-email">hello@dadandyandco.com</a>
                <span class="contact-number">+261 34 000 54</span>
                </p>
            </div> <!-- end contact-main -->

        </div> <!-- end row -->

        <div class="row">

            <div class="col-five tab-full contact-secondary" data-aos="fade-up">
                <h3 class="subhead subhead--light">Pour nous trouver</h3>

                <p class="contact-address">
                    Villa miharisoa<br>
                    Lotissement Bonnet<br>
                    Ivandry
                </p>
            </div> <!-- end contact-secondary -->

            <div class="col-five tab-full contact-secondary" data-aos="fade-up">
                <h3 class="subhead subhead--light">Réseaux sociaux</h3>

                <ul class="contact-social">
                    <li>
                        <a href="#0"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-google"></i></a>
                    </li>

                </ul> <!-- end contact-social -->

                <div class="contact-subscribe">
                    <form id="mc-form" class="group mc-form" novalidate="true">
                        <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">
                        <input type="submit" name="subscribe" value="Souscrire">
                        <label for="mc-email" class="subscribe-message"></label>
                    </form>
                </div> <!-- end contact-subscribe -->
            </div> <!-- end contact-secondary -->

        </div> <!-- end row -->

        <div class="row">
            <div class="col-full cl-copyright">
                <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved<i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://www.facebook.com/andy.claspo" target="_blank">Dadandy&co</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span> 
            </div>
        </div>

   
    </section> <!-- end s-contact -->


    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div> <!-- end photoSwipe background -->


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">            
        </div>
    </div>